{% extends 'template_base.html' %}

{% block title %}
    Equipos
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Lista Equipos</h3>
    </div>
    <div class="col">
        <a href="/buscar" class="btn btn-info"> Filtrar </a>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <td>Marca</td>
                <td>Modelo</td>
                <td>Detalle</td>
                <td>Proveedor</td>
            </tr>
        </thead>
        {% for equipo in equipos %}
            <tr>
                <td>{{equipo.marca}}</td>
                <td>{{equipo.modelo}}</td>
                <td>{{equipo.detalle}}</td>
                <td>{{equipo.proveedor}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}