{% extends 'template_base.html' %}

{% block title %}
    Equipos
{% endblock %}

{% block body %}
<div class="container mt-4">

    <div class="row mb-4">
        <div class="col">
            <h3 class="text-primary">Agregar Equipos</h3>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <form action="{{ url_for('equipos.equipos') }}" method="post" class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select id="marca" name="marca" class="form-control">
                            <option value="" disabled selected>Seleccionar Marca</option>
                            {% for marca in marcas %}
                            <option value="{{ marca.id }}">{{ marca.nombre_marca }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="modelo">Modelo</label>
                        <select id="modelo" name="modelo" class="form-control">
                            <option value="" disabled selected>Seleccionar Modelo</option>
                            {% for modelo in modelos %}
                            <option value="{{ modelo.id }}">{{ modelo.nombre_modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <select id="categoria" name="categoria" class="form-control">
                            <option value="" disabled selected>Seleccionar Categoría</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre_categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="costo">Costo</label>
                        <input type="number" id="costo" name="costo" class="form-control" placeholder="Costo">
                    </div>
                </div>
    
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripción">
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="row mb-4">
        <div class="col">
            <h3 class="text-info">Lista de Equipos</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="filter-form">
                <div class="form-group">
                    <label for="marca-filter">Filtrar por Marca:</label>
                    <select name="marca" id="marca-filter" class="form-control marca-select">
                        <option value="">Todas las Marcas</option>
                        {% for marca in marcas %}
                            <option value="{{ marca.nombre_marca }}">{{ marca.nombre_marca }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <table class="table table-striped mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Categoria</th>
                        <th>Costo</th>
                        <th>Descripcion</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody class="equipos-table">
                    {% for equipo in equipos %}
                    <tr data-marca="{{ equipo.marca.nombre_marca|lower }}">
                        <td>{{ equipo.marca.nombre_marca }}</td>
                        <td>{{ equipo.modelo.nombre_modelo }}</td>
                        <td>{{ equipo.categoria.nombre_categoria }}</td>
                        <td>{{ equipo.costo }}</td>
                        <td>{{ equipo.descripcion }}</td>
                        <td><a href="/equipo/{{ equipo.id }}/editar" class="btn btn-warning btn-sm">Editar</a></td>
                        <td><a href="/equipo/{{ equipo.id }}/borrar" class="btn btn-danger btn-sm">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}