{% extends 'template_base.html' %}

{% block title %}
    Equipos
{% endblock %}

{% block body %}
<div class="row mb-4">
    <div class="col">
        <h3 class="text-info">Inicio - Lista de Equipos</h3>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <form class="filter-form">
            <div class="form-group">
                <label for="marca-filter">Filtrar por Marca:</label>
                <select name="marca" id="marca-filter" class="form-control marca-select">
                    <option value="">Todas las Marcas</option>
                    {% for marca in marcas %}
                        <option value="{{ marca.nombre_marca }}">{{ marca.nombre_marca }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <table class="table table-striped mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Categoria</th>
                    <th>Costo</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody class="equipos-table">
                {% for equipo in equipos %}
                <tr data-marca="{{ equipo.marca.nombre_marca|lower }}">
                    <td>{{ equipo.marca.nombre_marca }}</td>
                    <td>{{ equipo.modelo.nombre_modelo }}</td>
                    <td>{{ equipo.modelo.categoria.nombre_categoria }}</td>
                    <td>{{ equipo.costo }}</td>
                    <td>{{ equipo.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
