{% extends 'template_base.html' %}

{% block title %}
    Fabricantes
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Nuevo fabricante</h4>
            <form action="" method="post">
                <input type="text" name="nombre_fabricante" class="form-control mb-2" placeholder="Nombre del Fabricante">
                <input type="text" name="pais_origen" class="form-control mb-2" placeholder="País de Origen">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de Fabricantes</h4>
            <ul>
                {% for fabricante in fabricantes %}
                <li>
                    {{ fabricante.nombre_fabricante }} - {{ fabricante.pais_origen }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
