{% extends 'template_base.html' %}

{% block title %}
    Marcas
{% endblock %}

{% block body %}
<style>
    ul {
        list-style-type: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Nueva marca</h4>
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre de la Marca">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de Marcas</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>Marca</td>
                        <td>Editar</td>
                    </tr>
                </thead>
                {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.nombre_marca }}</td>
                        <td><a href="/marca/{{marca.id}}/editar">Editar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
