{% extends 'template_base.html' %}

{% block title %}
    Modelos
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Nuevo modelo</h4>
            <form action="" method="post">
                <input type="text" name="modelo" class="form-control mb-2" placeholder="Nombre del Modelo">
                
                <select name="id_fabricante" class="form-control mb-2">
                    <option value="" disabled selected>Seleccionar Fabricante</option>
                    {% for fabricante in fabricantes %}
                    <option value="{{ fabricante.id }}">{{ fabricante.nombre_fabricante }}</option>
                    {% endfor %}
                </select>
                
                <select name="id_marca" class="form-control mb-2">
                    <option value="" disabled selected>Seleccionar Marca</option>
                    {% for marca in marcas %}
                    <option value="{{ marca.id }}">{{ marca.nombre_marca }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" class="btn btn-success">Guardar</button>
            
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de Modelos</h4>
            <ul>
                {% for modelo in modelos %}
                <li>
                    {{ modelo.nombre_modelo }} - {{ modelo.fabricante.nombre_fabricante }} - {{ modelo.marca.nombre_marca }}
                    <a href="/modelo/{{modelo.id}}/editar">Editar</a>
                    <a href="/modelo//{{modelo.id}}/borrar">Borrar</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
