{% extends 'template_base.html' %}

{% block title %}
Edite la Modelo
{% endblock %}

{% block body %}
    
    <div class="container col-6">
        <h4>Edite la Marca</h4>
        <form action="" method="post">
            <input type="text" name="modelo" class="form-control mb-2" placeholder="Nombre del Modelo">
                    
                    <select name="id_fabricante" class="form-control mb-2">
                        <option value="" disabled selected>Seleccionar Fabricante</option>
                        {% for fabricante in fabricantes %}
                        <option value="{{ fabricante.id }}">{{ fabricante.nombre_fabricante }}</option>
                        {% endfor %}
                    </select>
                    
                    <select name="id_marca" class="form-control mb-2">
                        <option value="" disabled selected>Seleccionar Marca</option>
                        {% for marca in marcas %}
                        <option value="{{ marca.id }}">{{ marca.nombre_marca }}</option>
                        {% endfor %}
                    </select>
            <button type="submit" class="btn btn-success">Editar</button>
        </form>
    </div>
{% endblock %}
